@use "./fonts";

.boton{
    justify-content: center;
    text-align: center;
}

.boton_carta{
    margin-top: 3em;
    background: linear-gradient(to left, rgb(111, 1, 161), rgb(62, 5, 116));
    color: white;
    font-size: 20px;
    padding: 15px 18px;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    transition: all 400ms ease-out;
    
    a{
        text-decoration: none;
        color: white;
    }

    &:hover{
        transform: translateY(-3%);
    }
}

.btn_ultimoPaso{
    background: linear-gradient(to left, rgb(111, 1, 161), rgb(62, 5, 116));
    color: white;
    font-size: 20px;
    padding: 10px 100px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    transition: all 400ms ease-out;
    margin: 4px;
    font-family: 'prueba';
}

.botones_pasodos{

    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 2px;
    margin-bottom: 20px;
    .btn_siguiente{
        background: linear-gradient(to left, rgb(111, 1, 161), rgb(62, 5, 116));
        color: white;
        font-size: 16px;
        padding: 6px 40px;
        border-radius: 10px;
        border: none;
        text-decoration: none;
        transition: all 400ms ease-out;
        margin: 4px;
        font-family: 'prueba';
    }   

    .btn_atras{
        background: linear-gradient(to left, rgb(111, 1, 161), rgb(62, 5, 116));
        color: white;
        font-size: 16px;
        padding: 6px 54px;
        border-radius: 10px;
        border: none;
        text-decoration: none;
        transition: all 400ms ease-out;
        margin: 4px;
        font-family: 'prueba';
    }
}

.btn_previsualizar{
    background: rgb(98, 65, 177);
    color: white;
    font-size: 20px;
    padding: 10px 100px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    // transition: all 400ms ease-out;
    font-family: 'prueba';
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: box-shadow 0.3s ease; /* Animación al pasar el cursor */
}

.btn_previsualizar:hover {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); /* Sombra más fuerte al pasar el cursor */
}


.btn-atras{
    @extend .btn_previsualizar;
}

.btn_compartir{
    background: linear-gradient(to top, rgb(119, 15, 148), rgb(90, 10, 90), rgb(75, 21, 97));
    color: white;
    font-size: 20px;
    padding: 10px 100px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    // transition: all 400ms ease-out;
    font-family: 'prueba';
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease; 
    margin: 9px
}

.btn_navidad{
    @extend .btn_compartir;
}