.boton{
    justify-content: center;
    text-align: center;
}

.boton_carta{
    background: linear-gradient(to left, rgb(111, 1, 161), rgb(62, 5, 116));
    color: white;
    font-size: 20px;
    padding: 15px 18px;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    transition: all 400ms ease-out;
    
    a{
        text-decoration: none;
        color: white;
    }

    &:hover{
        transform: translateY(-3%);
    }
}