// FONTS
@font-face {
    font-family: 'font';
    src: url('/fonts/Source_Sans_3/SourceSans3-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: "diseño mejor";
    src: url('/fonts/Yellowtail/Yellowtail-Regular.ttf');
}

@font-face {
    font-family: 'prueba';
    src: url('/fonts/Source_Sans_3/SourceSans3-Italic-VariableFont_wght.ttf');
}