// LETRERO
@use "fonts";

aside{
    text-shadow: 0 0 30px #6b49e4da;

    #letrero{
        margin-top: 10px;
        padding-top: 18px;
        padding-bottom: 15px;
        font-family: 'diseño mejor';
        font-size: 45px;
        color: white;;
        text-align: center;
    }
}

@media (max-width: 667px) { 
    aside{
        text-shadow: 0 0 30px #6b49e4da;
    
        #letrero{
            padding-bottom: 5px;
            font-family: 'diseño mejor';
            font-size: 33px;
            color: white;;
            text-align: center;
            margin-top: 0;
            padding-top: 0;
            margin-bottom: 8px;
        }
    }
}