// LETRERO
@use "fonts";

aside{
    background: linear-gradient(to right,  rgba(23, 107, 146, 0.37), rgba(98, 0, 163, 0.342), rgba(221, 138, 196, 0.267) );

    #letrero{
        margin-top: 70px;
        padding-top: 18px;
        padding-bottom: 15px;
        font-family: 'diseño mejor';
        font-size: 45px;
        color: white;;
        text-align: center;
    }
}
