// LETRERO
@use "fonts";

aside{
    text-shadow: 0 0 30px #a06bdd8c;

    #letrero{
        margin-top: 10px;
        padding-top: 18px;
        padding-bottom: 15px;
        font-family: 'diseño mejor';
        font-size: 45px;
        color: white;;
        text-align: center;
    }
}

@media (max-width: 667px) { 
    #letrero {
        font-size: 1.2rem; 
    }
}