@use './fonts';

#previewModal {
    background: transparent;
    backdrop-filter: blur(4px);
}

.modal-header{
    color: white;
    font-family: 'prueba';
    background-color: rgb(98, 65, 177);
}

.modal-body, .modal-footer{
    background-color: rgb(98, 65, 177);
}