:root{
	--primary: #6b59d3;
	--secondary: #7a7a7a;
	--white: #fff;
	--text-clr: #5b6475;
}

.header-step{
    display: flex;
    justify-content: center;
}

.header-step ul{
	display: flex;
    list-style: none;
	outline: none;
    padding-left: 0;
    margin-bottom: 0;
}

.header-step ul li{
	margin-right: 260px;
	position: relative;
}

.header-step ul li:last-child{
	margin-right: 0;
}

.header-step ul li:before{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 52px;
	width: 454%;
	height: 2px;
	background: var(--secondary);
    color: var(--secondary);
}

.header-step ul li:last-child:before{
	display: none;
}

.header-step ul li div{
	padding: 5px;
	border-radius: 50%;
}

.header-step ul li p{
	width: 50px;
	height: 50px;
	background: var(--secondary);
	color: var(--white);
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
    margin-bottom: 1px;
}

.header-step ul li.active:before{
	background: var(--primary);
    color: var(--white);

}

.header-step ul li.active p{
	background: var(--primary);
    color: var(--white);
}

//subs debajo de los steps -------------------------------------
.contiene-text-step{
    padding: 0;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
}

.contiene-text-step ul{
	display: flex;
    list-style: none;
	outline: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: -7px;
}

.contiene-text-step ul li{
	margin-right: 255px;
	position: relative;
}

.contiene-text-step ul li:last-child{
	margin-right: 20px;
}

// .contiene-text-step ul li:last-child:before{
// 	display: none;
// }

.contiene-text-step ul li p{
	// width: 50px;
	// height: 50px;
	// background: var(--secondary);
	color: var(--secondary);
	text-align: center;
	// line-height: 50px;
	// border-radius: 50%;
}

// .contiene-text-step ul li div{
// 	// padding: 0px 5px 10px;
// }

.contiene-text-step ul li.active-text:before{
	// background: var(--primary);
    color: var(--primary);
}

.contiene-text-step ul li.active-text p{
	// background: var(--primary);
    color: var(--primary);
}

.texto_3_step{
	margin-left: 15px;
}

@media (max-width: 767px) { /* Estilos para dispositivos móviles */
    .header-step ul li{
        margin-right: 50px;
        position: relative;
    }
    .header-step ul li:before{
        top: 50%;
        transform: translateY(-50%);
        left: 52px;
        width: 160%;
        height: 2px;
        // background: var(--secondary);
    }
    .contiene-text-step ul{
        margin-right: 0;
        margin-left: 12px;
    }
    .contiene-text-step ul li{
        margin-right: 45px;
    }
    .texto_3_step{
        margin-left: 13px;
    }
}