:root{
	--primary: #6b59d3;
	--secondary: #bfc0c0;
	--white: #fff;
	--text-clr: #5b6475;
}

.header-step{
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
}

.header-step ul{
	display: flex;
    list-style: none;
	outline: none;
    padding-left: 0;
}

.header-step ul li{
	margin-right: 80px;
	position: relative;
}

.header-step ul li:last-child{
	margin-right: 0;
}

.header-step ul li:before{
	content: "";
	position: absolute;
	top: 42%;
	transform: translateY(-50%);
	left: 52px;
	width: 160%;
	height: 2px;
	background: var(--secondary);
}

.header-step ul li:last-child:before{
	display: none;
}

.header-step ul li div{
	padding: 5px;
	border-radius: 50%;
}

.header-step ul li p{
	width: 50px;
	height: 50px;
	background: var(--secondary);
	color: var(--white);
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
}

.header-step ul li.active:before{
	background: var(--primary);
}

.header-step ul li.active p{
	background: var(--primary);
}
