.titulo-cartanavid{
    text-align: center;
    padding-top: 1em;
    font-family: 'diseño mejor';
    // color: rgb(209, 11, 209);
    background: linear-gradient(rgb(98, 0, 255),rgb(106, 0, 177));
    -webkit-background-clip: text;
    color: transparent;  
    text-shadow: 0 1px 30px #fff;
    // font-family: "font";
    cursor: default;
    transition: all 400ms ease-out;
    &__:hover {
        transform: translateY(-3%);
        // color: rgb(209, 11, 209);
    }
}
