@charset "UTF-8";
/* BASE */
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  background: #05071b;
}

/* COMPONENTS */
@font-face {
  font-family: "font";
  src: url("/fonts/Source_Sans_3/SourceSans3-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: "diseño mejor";
  src: url("/fonts/Yellowtail/Yellowtail-Regular.ttf");
}
@font-face {
  font-family: "prueba";
  src: url("/fonts/Source_Sans_3/SourceSans3-Italic-VariableFont_wght.ttf");
}
.boton {
  justify-content: center;
  text-align: center;
}

.boton_carta {
  margin-top: 3em;
  background: linear-gradient(to left, rgb(111, 1, 161), rgb(62, 5, 116));
  color: white;
  font-size: 20px;
  padding: 15px 18px;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  transition: all 400ms ease-out;
}
.boton_carta a {
  text-decoration: none;
  color: white;
}
.boton_carta:hover {
  transform: translateY(-3%);
}

.btn_siguiente, .botones_pasodos .btn_atras {
  background: linear-gradient(to left, rgb(111, 1, 161), rgb(62, 5, 116));
  color: white;
  font-size: 20px;
  padding: 10px 100px;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  transition: all 400ms ease-out;
  margin: 4px;
  font-family: "prueba";
}

.botones_pasodos {
  text-align: center;
}
.botones_pasodos .btn_siguiente, .botones_pasodos .btn_atras {
  background: linear-gradient(to left, rgb(111, 1, 161), rgb(62, 5, 116));
  color: white;
  font-size: 20px;
  padding: 10px 100px;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  transition: all 400ms ease-out;
  margin: 4px;
  font-family: "prueba";
}
.btn_previsualizar {
  background: rgb(98, 65, 177);
  color: white;
  font-size: 20px;
  padding: 10px 100px;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  transition: all 400ms ease-out;
  font-family: "prueba";
}

aside {
  text-shadow: 0 0 30px rgba(160, 107, 221, 0.5490196078);
}
aside #letrero {
  margin-top: 50px;
  padding-top: 18px;
  padding-bottom: 15px;
  font-family: "diseño mejor";
  font-size: 45px;
  color: white;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
  padding: 20px;
  font-family: "prueba";
  position: relative;
}
a:hover {
  color: rgb(107, 73, 161);
}

footer {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-align: center;
}

#previewModal {
  background: transparent;
  backdrop-filter: blur(4px);
}

/* PAGES */
/* index */
.subtitulo {
  background-color: rgb(240, 237, 237);
  text-align: center;
  font-size: 1.5em;
  font-family: monospace;
}

.contiene-cards-catalogo .container {
  position: relative;
  width: 50%;
}
.contiene-cards-catalogo .container img {
  width: 100%;
  height: auto;
}
.contiene-cards-catalogo .container .parrafo {
  position: absolute;
  top: 38%;
  left: 30%;
}
.contiene-cards-catalogo .container .parrafo-doc {
  position: absolute;
  top: 32%;
  left: 16%;
}
.contiene-cards-catalogo .container .parrafo-imp {
  position: absolute;
  top: 32%;
  left: 23%;
}
.contiene-cards-catalogo .container .btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.contiene-cards-catalogo .card-image {
  width: 310px;
  height: 387px;
  /* box-shadow: 1px 0.8px 2px 2px rgba(0, 0, 0, 0.75); */
  background: rgba(0, 0, 0, 0);
  border-radius: 20px 20px 20px 20px;
}

.titulo-cartanavid {
  margin-right: 0;
  text-align: left;
  font-family: "font";
  text-align: center;
  font-size: 40px;
  background: linear-gradient(rgb(0, 26, 255), rgb(185, 81, 255));
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.5490196078);
  cursor: default;
  transition: all 400ms ease-out;
}
.titulo-cartanavid__:hover {
  transform: translateY(-3%);
}

.links {
  margin-top: 20px;
}
.links p {
  color: white;
  padding: 3px;
  margin: 3px;
}

.img-fluid {
  float: left;
  margin-left: 30px;
  padding-right: 40px;
}

h1, h3, label, h2, h5, p {
  color: white;
}

.card-section {
  padding: 15px 80px;
}

.card {
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
}

.seleccionada {
  border: 5px solid rgb(128, 0, 75);
  border-radius: 12px;
}

.aa-img {
  width: 100%;
  height: 290px;
  object-fit: cover;
  border-radius: 4px;
}

.footer-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 17px 10px;
  text-align: center;
  display: none; /* Oculto por defecto */
}

.progress-bar .step .bullet {
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}

.progress-bar .step .bullet.active {
  border-color: #5ed6b3;
  background: #5ed6b3;
}

.progress-bar .step .bullet span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.progress-bar .step .bullet.active span {
  display: none;
}

.progress-bar .step .bullet:after {
  position: absolute;
  content: "";
  bottom: 11px;
  right: -51px;
  height: 3px;
  width: 44px;
  background: #262626;
}

.progress-bar .step .bullet.active:after {
  background: #5ed6b3;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:after {
  display: none;
}

.progress-bar .step p.active {
  color: #5ed6b3;
  transition: 0.2s linear;
}

.container .form-outer {
  width: 100%;
  overflow: hidden;
}

.container .form-outer form {
  display: flex;
  width: 400%;
}

.form-outer form .page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}

form .page .btns button {
  margin-top: -20px !important;
}

form .page .btns button.prev {
  margin-right: 3px;
  font-size: 17px;
}

form .page .btns button.next {
  margin-left: 3px;
}

.row {
  margin-left: 10em;
}

/*# sourceMappingURL=styles.css.map */
